export SERVICE_NAME="custom-ipset_blacklist"

LIST="de spamhaus countries"
export $LIST

export export COUNTRY_URL="http://www.ipdeny.com/ipblocks/data/aggregated"
export COUNTRY_RULE="DROP"
export COUNTRY_IPSETNAME="blacklist_country_"
export COUNTRY_BLOCK="ru cn br in by"

export SMAPHAUS_URL="https://www.spamhaus.org/drop/drop.txt"
export SPAMHAUS_RULE="DROP"
export SPAMHAUS_IPSETNAME="blacklist_spamhaus"

export DE_URL="https://lists.blocklist.de/lists/all.txt"
export DE_RULE="DROP"
export DE_IPSETNAME="blacklist_de"
